.echipanoastra-section {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 5% 10%;
    margin: 5%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, #9646ab70, #33bacf90);
    backdrop-filter: blur(10px);
    grid-column-gap: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Animation styles */
.echipanoastra-descrierebox,
.echipanoastra-pozabox {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


.echipanoastra-descrierebox {
    z-index: 3;
    justify-content: center;
    align-items: center;
    width: 38.4em;
    /* margin-left: 0; */
    display: flex;
    position: static;
    color: #fff;
}

.echipanoastra-imagine {
    border-radius: 0.83em;
    border: 1px solid #6bd4e420;
    max-height: 400px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.echipanoastra-descriere {
    text-align: left;
    font-size: 1em;
    line-height: 1.3;
}

.boxnavbar {
    height: 5em;
    margin-bottom: 3em;
}


@media screen and (max-width: 479px) {
    .pageslink-navbar.is-hoeacasa.ishover-acasa.isechipanoastra.w--current {
        color: #8d4ba3;
    }

    .pageslink-navbar.is-hoeacasa.ishover-acasa.isechipanoastra.isechipanoastrapagina.w--current {
        color: #fff;
    }

    .pageslink-navbar.is-hoeacasa.ishover-acasa.isechipanoastra.isechipanoastrapagina.isacasa-acasa.w--current {
        color: #8d4ba3;
    }

    .echipanoastra-section {
        display: flex;
        flex-direction: column !important;
        backdrop-filter: blur(15px);
    }

    .echipanoastra-pozabox {
        order: 1;
        margin: 0 auto 2em auto;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .echipanoastra-descrierebox {
        order: 2;
        width: 90%;
        margin: 0 auto;
    }

    .echipanoastra-descriere {
        font-size: 1.8em;
    }

    .boxnavbar {
        height: 5em;
        margin-bottom: 10em;
    }

}